.filter-store-container {
    height: 130px;
    padding: 40px 15px;
}

.filter-select {
    margin: 0;
    height: 50px;
    width: 100%;
    border: 1px solid var(--gray-light-color);
    border-radius: 4px;
    color: var(--gray-light-color);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 12px;
    max-width: 270px;
}

.filter-select__input-container {
    color: var(--gray-light-color) !important;
}

.filter-select__placeholder {
    color: var(--gray-light-color) !important;
}

.filter-select__indicator-separator {
    display: none;
}

@media (min-width: 576px) {
    .filter-store-container {
        padding: 40px;
    }

    .filter-select__control {
        width: 270px;
    }
}

@media (min-width: 992px) {
    .filter-store-container {
        max-width: 960px;
        width: 960px;
    }
}
