.App {
  padding: 10px;
}

@media (min-width: 576px) {
  .App {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .App {
    padding: 40px 15px;
    display: flex;
    justify-content: center;
  }
}
